
:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --dashboard-color: #f5f7ff;
    --card-color:#f0f2fa;
    --overview-color:black;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --dashboard-color: #1f212e;
    --card-color:#252a41;
    --overview-color:#e1e1ff;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--font-color);
}



.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  margin: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1EB589;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-mode {
  color: grey;
  font-weight: bold;
  font-size: 12px;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;

}

.dashboard {
  background-color: var(--dashboard-color);
  width: 100%;
  height: 160px;
  display:inline-block;
  text-align: center;
  justify-content: space-around;

  /*margin-top: 20px;*/

}

.dashboard-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap:wrap;
}

.left {
  justify-content: flex-start;
  flex-shrink: 1;
}
.right {
  justify-content: flex-end;
  flex-shrink: 1;
}


.dashboard-heading {
  /*margin: 0;
  position: absolute;*/
  text-align: left;
  /*padding: 25px 10px 10px 180px;*/
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bolder;

}

.dashboard-desc {
  /*position: relative;
  margin: 0;*/
  text-align: left;
  /*padding: 52px 0 0 180px;*/
  font-family: sans-serif;
  font-weight: bold;
  font-size: 11px;
}



#grid {
  display: flex;
  flex-direction: row;
  /*margin: 20px 20px 80px 180px;*/
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -100px;

}

#areaA {
  background-color: var(--card-color);
  border-radius: 5px;
  border-top: 3px solid #00bfff;
  width: 160px;
  height: 160px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  text-align: center;
  margin: auto;
}



.logo-text {
  font-size: 12px;
  justify-content: center;
  color: grey;
  font-weight: bold;
  margin-top: 2.5px;
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  text-align: center;
  margin: auto;
}

.count {
  font-size: 40px;
  font-weight: bolder;
  font-family: sans-serif;

}

p {
  margin: 0;
  font-size: 13px;
  color: grey;
  font-stretch:extra-expanded;
}


.bottom {
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 70%;
  text-align: center;
  margin: auto;
}

.bottom-text {
  font-size: 10px;
  color: #1EB589;
  font-weight: bolder;

}
.bot-logos {
  width: 8px;
  height: 6px;
  margin-right: 5px;
  margin-top: 3px;
}

#areaB {
  background-color: 	var(--card-color);
  margin: 30px;
  border-radius: 5px;
  border-top: 3px solid #1ca0f2;
  width: 160px;
  height: 160px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

#areaC {
  background-color: var(--card-color);
  margin: 30px;
  width: 160px;
  height: 160px;
  border-radius: 5px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.0);
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
#areaC:before {
    content:"";
    /*background: -webkit-linear-gradient(left, rgba(92, 7, 52, 1) 0%, rgba(134, 29, 84, 1) 12%, rgba(255, 93, 177, 1) 47%, rgba(83, 0, 30, 1) 100%);*/
    background: -webkit-linear-gradient(left,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
    display: block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top: 3px solid rgba(0, 0, 0, 0.0);
    top: 0;
    width: 160px;
    height: 1px;
}

#areaD {
  background-color: 	var(--card-color);
  border-radius: 5px;
  border-top: 3px solid hsl(348, 97%, 39%);
  margin: 30px;
  width: 160px;
  height: 160px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}


.overview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.overview-desc {
  font-size: 18px;
  color: grey;
  font-weight: bolder;
  font-family: sans-serif;
  width: 80%;
  text-align: left;
}



#second-row {
  display: flex;
  flex-direction: cloumn;
  /*margin: 20px 20px 80px 180px;*/
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

}

#B-area {
  background-color: 	var(--card-color);
  border-radius: 5px;
  width: 160px;
  height: 100px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.toprow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

.bottomrow {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 100%;
  text-align: center;
}

.toprow-C {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.bottom-C {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 100%;
  text-align: center;
  margin: auto;
}

.bottom-text-overview-C {
  font-size: 25px;
  color: var(--overview-color);
  font-weight: bolder;
  margin-top: 18px;
}

.overview-card-C {
  color: #1EB589;
  margin-top: 25px;
}

.bottom-text-overview {
  font-size: 30px;
  color: var(--overview-color);
  font-weight: bolder;

}
.bot-logos-overview {
  width: 8px;
  height: 6px;
  margin-right: 5px;
  margin-top: 3px;
}

.overview-card {
  color: #1EB589;
  margin-top: 10px;
}

.logo-text-overview {
  font-size: 14px;
  justify-content: center;
  color: grey;
  font-weight: bold;
  margin-top: 2.5px;
  font-family: sans-serif;
}

.logos-overview {
  margin-top: 2px;
}
